@model Portfolio

<h1>Silmek isteyirsinizmi?</h1>
<form method="post">
    <input type="hidden" name="Id" value="@Model.Id"/>
      <input type="submit" value="Delete" class="btn btn-danger"/>
</form>
<a href="/admin/portfolio" class="btn btn-outline-info">Xeyr</a>