<form method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
              <div class="input-group my-2">
                 <input name="Title" id="title" class="form-control" type="text" placeholder="Title"/>
              </div>
               <div class="input-group my-2">
                 <input name="SubTitle" id="subtitle" class="form-control" type="text" placeholder="SubTitle"/>
              </div>
               <div class="input-group my-2">
                 <input name="myPhoto" id="photo" class="form-control" type="file" placeholder="Photo"/>
              </div>
              <input type="submit" class="btn btn-success"value="Create"/>

        </div>
    </div>
</form>